USE master;
GO
/****** CREACIÓN DA BD SOCIEDADE_CULTURAL******/
CREATE DATABASE SOCIEDADE_CULTURAL;
GO

USE SOCIEDADE_CULTURAL;
GO

/****** CREACIÓN DE TÁBOAS ******/

--TÁBOA COTA
CREATE TABLE COTA(
	codigo tinyint NOT NULL,
	nome varchar(20) NOT NULL,
	importe decimal(7, 2) NOT NULL,
 CONSTRAINT PK_COTA_codigo PRIMARY KEY (codigo),
 CONSTRAINT UQ_COTA_nome UNIQUE (nome)
);
GO

INSERT INTO COTA (codigo, nome, importe) VALUES (11, 'DE HONRA', 100.00);
INSERT INTO COTA (codigo, nome, importe) VALUES (12, 'FAMILIAR', 30.00);
INSERT INTO COTA (codigo, nome, importe) VALUES (13, 'HABITUAL', 50.00);

GO

--TÁBOA AULA
CREATE TABLE AULA(
	numero int NOT NULL,
	descricion varchar(30) NOT NULL,
	superficie int NOT NULL,
	estado char(1) NOT NULL,
 CONSTRAINT PK_AULA_numero PRIMARY KEY (numero),
 CONSTRAINT UQ_AULA_descricion UNIQUE (descricion),
);
GO

INSERT INTO AULA (numero, descricion, superficie, estado) VALUES (1, 'PISTA DE TENIS', 270, 'B');
INSERT INTO AULA (numero, descricion, superficie, estado) VALUES (2, 'COCIÑA', 100, 'R');
INSERT INTO AULA (numero, descricion, superficie, estado) VALUES (3, 'AULA TALLER', 150, 'B');

GO

--TÁBOA PROVINCIA
CREATE TABLE PROVINCIA(
	codigo varchar(2) NOT NULL,
	nome varchar(50) NOT NULL,
	CONSTRAINT PK_PROVINCIA_codigo PRIMARY KEY (codigo),
	CONSTRAINT UQ_PROVINCIA_nome UNIQUE (nome)
);
GO

INSERT INTO PROVINCIA (codigo, nome) VALUES ('01', 'Álava');
INSERT INTO PROVINCIA (codigo, nome) VALUES ('02', 'Albacete');
INSERT INTO PROVINCIA (codigo, nome) VALUES ('03', 'Alacante');

GO

--TÁBOA SOCIO
CREATE TABLE SOCIO(
	numero int NOT NULL,
	nif char(9) NULL,
	nss char(12) NULL,
	nome varchar(30) NOT NULL,
	ape1 varchar(30) NOT NULL,
	ape2 varchar(30) NULL,
	telefono1 char(9) NULL,
	telefono2 char(9) NULL,
	data_nac date NOT NULL,
	tipo_via_enderezo varchar(6) NOT NULL,
	nome_via_enderezo varchar(30) NULL,
	num_casa_enderezo varchar(30) NOT NULL,
	piso_enderezo varchar(5) NULL,
	localidade_enderezo varchar(40) NULL,
	codpostal_enderezo char(5) NULL,
	cod_provincia_enderezo varchar(2) NULL,
	tipo varchar(30) NOT NULL,
	profesion varchar(30) NULL,
	abonada char(1) NOT NULL,
	cod_cota tinyint NOT NULL,
CONSTRAINT PK_SOCIO_numero PRIMARY KEY (numero),
CONSTRAINT UQ_SOCIO_nif UNIQUE (nif)
);
GO

INSERT INTO SOCIO (numero, nif, nss, nome, ape1, ape2, telefono1, telefono2, 
                   data_nac, tipo_via_enderezo, nome_via_enderezo, num_casa_enderezo, piso_enderezo, 
				   localidade_enderezo, codpostal_enderezo, cod_provincia_enderezo, 
				   tipo, profesion, abonada, cod_cota) 
VALUES (1000, '11111112A', '111111111112', 'MARÍA', 'GRAÑA', 'UMIA', '981111112', NULL, 
		'5-5-1975', 'RÚA', 'DO OLVIDO', '3', '2ºA', 
		'FERROL', '15011', '15', 'HONORÍFICO', NULL, 'S', 11);

INSERT INTO SOCIO (numero, nif, nss, nome, ape1, ape2, telefono1, telefono2, 
                   data_nac, tipo_via_enderezo,nome_via_enderezo, num_casa_enderezo, piso_enderezo, 
				   localidade_enderezo, codpostal_enderezo, cod_provincia_enderezo, 
				   tipo, profesion, abonada, cod_cota) 
VALUES (1001, '22222223B', '222222222223', 'MANUEL', 'SIEIRO', 'CAMPOS', '981222223', '639222223', 
		'10-10-1950', 'RÚA','SAN ROQUE', '15', NULL, 
		'A CORUÑA', '15025', '15', 'FAMILIAR', 'CARTEIRO', 'N', 12);

INSERT INTO SOCIO (numero, nif, nss, nome, ape1, ape2, telefono1, telefono2, 
                   data_nac, tipo_via_enderezo, nome_via_enderezo, num_casa_enderezo, piso_enderezo, 
				   localidade_enderezo, codpostal_enderezo, cod_provincia_enderezo, 
				   tipo, profesion, abonada, cod_cota) 
VALUES (1002, '33333334C', '333333333334', 'JORGE', 'DEL CARMEN', 'LÉREZ', NULL, '639333334', 
		'11-06-1990', 'PRAZA','DE ESPAÑA', '25-26', '11ºB', 
		'FERROL', '15006', '15', 'COMÚN', 'AVOGADO', 'S', 99);


GO

--TÁBOA EMPREGADO
CREATE TABLE EMPREGADO(
	numero int NOT NULL,
	nif char(9) NOT NULL,
	nss char(12) NOT NULL,
	nome varchar(30) NOT NULL,
	ape1 varchar(30) NOT NULL,
	ape2 varchar(30) NULL,
	tipo_via_enderezo varchar(6) NOT NULL,
	nome_via_enderezo varchar(30) NULL,
	num_casa_enderezo varchar(30) NOT NULL,
	piso_enderezo varchar(5) NULL,
	localidade_enderezo varchar(40) NULL,
	codpostal_enderezo char(5) NULL,
	cod_provincia_enderezo varchar(2) NULL,
	tel_fixo char(9) NULL,
	tel_mobil char(9) NULL,
	salario_mes decimal(18, 2) NULL,
	cargo char(3) NOT NULL,
 CONSTRAINT PK_EMPREGADO_numero PRIMARY KEY (numero),
 CONSTRAINT UQ_EMPREGADO_nif UNIQUE (nif),
 CONSTRAINT UQ_EMPREGADO_nss UNIQUE (nss)
);
GO

INSERT INTO EMPREGADO (numero, nif, nss, nome, ape1, ape2, tipo_via_enderezo, nome_via_enderezo, 
					  num_casa_enderezo, piso_enderezo, localidade_enderezo, codpostal_enderezo,
					  cod_provincia_enderezo, tel_fixo, tel_mobil, salario_mes, cargo) 
VALUES (100, '11111111A', '121212121212', 'MARÍA', 'GARCÍA', 'PÉREZ', 'RÚA', 'NOVA', 
		'10', '3º', 'SANTIAGO DE COMPOSTELA', '15125', 
		'15', '981111111', '639111111', 900.00, 'PRF');
INSERT INTO EMPREGADO (numero, nif, nss, nome, ape1, ape2, tipo_via_enderezo, nome_via_enderezo, 
					  num_casa_enderezo, piso_enderezo, localidade_enderezo, codpostal_enderezo,
					  cod_provincia_enderezo, tel_fixo, tel_mobil, salario_mes, cargo) 
VALUES (200, '22222222B', '131313131313', 'CARLOS', 'REGO', 'PENA', 'PRAZA','DA CONSTITUCIÓN', 
		'30', '4º', 'A CORUÑA', '15002', 
		'15', '981222222', '639222222', 800.00, 'PRF');
INSERT INTO EMPREGADO (numero, nif, nss, nome, ape1, ape2, tipo_via_enderezo, nome_via_enderezo, 
					  num_casa_enderezo, piso_enderezo, localidade_enderezo, codpostal_enderezo,
					  cod_provincia_enderezo, tel_fixo, tel_mobil, salario_mes, cargo) 
VALUES (300, '33333333C', '141414141414', 'JUANA', 'POSE', 'VARELA',  'AV.', 'DE CASTELA', 
		'100', '5ºD', 'FERROL', '15104', '15', '981333333', '639333333', 1500.90, 'PRF');

GO

--TÁBOA PROFESORADO
CREATE TABLE PROFESORADO(
	num_prof int NOT NULL,
	especialidade varchar(50) NOT NULL,
 CONSTRAINT PK_PROFESORADO_num_prof PRIMARY KEY (num_prof)
);
GO

INSERT INTO PROFESORADO (num_prof, especialidade) VALUES (100, 'DEPORTES');
INSERT INTO PROFESORADO (num_prof, especialidade) VALUES (200, 'COCIÑA');
INSERT INTO PROFESORADO (num_prof, especialidade) VALUES (300, 'INFORMÁTICA');

GO

--TÁBOA ADMINISTRATIVO
CREATE TABLE ADMINISTRATIVO(
	num_adm int NOT NULL,
	horas_extras tinyint NOT NULL,
 CONSTRAINT PK_ADMINISTRATIVO_num_adm PRIMARY KEY (num_adm)
);
GO

INSERT INTO ADMINISTRATIVO (num_adm, horas_extras) VALUES (400, 50);
GO

--TÁBOA ACTIVIDADE
CREATE TABLE ACTIVIDADE(
	identificador int NOT NULL,
	nome varchar(50) NOT NULL,
	data_ini datetime NOT NULL,
	data_fin datetime NOT NULL,
	num_prazas tinyint NOT NULL,
	prezo decimal(7, 2) NOT NULL,
	observacions varchar(100) NULL,
	num_profesorado_imparte int NOT NULL,
	num_aula int NOT NULL,
 CONSTRAINT PK_ACTIVIDADE_identificador PRIMARY KEY (identificador),
 CONSTRAINT UQ_ACTIVIDADE_num_aula UNIQUE (num_aula),
 CONSTRAINT UQ_ACTIVIDADE_nome UNIQUE (nome)
);

GO

INSERT INTO ACTIVIDADE (identificador, nome, data_ini, data_fin, num_prazas, prezo, observacions, num_profesorado_imparte, num_aula) 
VALUES (10, 'TENIS PARA PRINCIPIANTES', '10-02-2014 16:00', '10-10-2014 20:00', 15, 301.55, 'Precísase raqueta e 1 bote de pelotas', 100, 1);
INSERT INTO ACTIVIDADE (identificador, nome, data_ini, data_fin, num_prazas, prezo, observacions, num_profesorado_imparte, num_aula) 
VALUES (20, 'REPOSTARÍA', '15-02-2015 17:00', '15-03-2015 19:00', 20, 50.00, NULL, 200, 2);
INSERT INTO ACTIVIDADE (identificador, nome, data_ini, data_fin, num_prazas, prezo, observacions, num_profesorado_imparte, num_aula) 
VALUES (30, 'XADREZ', '20-03-2014 16:30', '20-06-2014 17:30', 10, 80.00, NULL, 100, 4);

GO

--TÁBOA SOCIO_REALIZA_ACTI
CREATE TABLE SOCIO_REALIZA_ACTI(
	num_socio int NOT NULL,
	id_actividade int NOT NULL,
	pagada char(1) NOT NULL,
 CONSTRAINT PK_SOCIO_REALIZA_ACTI PRIMARY KEY (num_socio, id_actividade)
);
GO

INSERT INTO SOCIO_REALIZA_ACTI (num_socio, id_actividade, pagada) 
VALUES (1000, 10, 'S');
INSERT INTO SOCIO_REALIZA_ACTI (num_socio, id_actividade, pagada) 
VALUES (1001, 10, 'N');
INSERT INTO SOCIO_REALIZA_ACTI (num_socio, id_actividade, pagada) 
VALUES (1001, 30, 'S');
GO

--TÁBOA PROFE_CURSA_ACTI
CREATE TABLE PROFE_CURSA_ACTI(
	num_profesorado int NOT NULL,
	id_actividade int NOT NULL,
 CONSTRAINT PK_PROFE_CURSA_ACTI PRIMARY KEY (num_profesorado, id_actividade)
);
GO
INSERT INTO PROFE_CURSA_ACTI (num_profesorado, id_actividade) VALUES (100, 40);
INSERT INTO PROFE_CURSA_ACTI (num_profesorado, id_actividade) VALUES (200, 30);


/**** VALORES POR DEFECTO ****************/
ALTER TABLE SOCIO 
ADD  CONSTRAINT DF_SOCIO_abonada  DEFAULT ('N') FOR abonada;
GO

ALTER TABLE ADMINISTRATIVO 
ADD  CONSTRAINT DF_ADMINISTRATIVO_horas_extras  DEFAULT (0) FOR horas_extras;
GO

ALTER TABLE SOCIO_REALIZA_ACTI 
ADD  CONSTRAINT DF_SOCIO_REALIZA_ACTI_pagada  DEFAULT ('N') FOR pagada;
GO


/**** CHECKS - VERIFICACIÓNS ***************/
ALTER TABLE ACTIVIDADE 
ADD  CONSTRAINT CHK_control_datas CHECK  ((data_fin >= data_ini));
GO

/*** CLAVES FORÁNEAS OU ALLEAS ****************/
ALTER TABLE SOCIO   
ADD  CONSTRAINT FK_SOCIO_COTA_cod_cota
    FOREIGN KEY(cod_cota)
	REFERENCES COTA (codigo)
	ON UPDATE CASCADE;
GO

ALTER TABLE SOCIO  
ADD  CONSTRAINT FK_SOCIO_PROVINCIA_cod_provincia_enderezo 
	FOREIGN KEY(cod_provincia_enderezo)
	REFERENCES PROVINCIA (codigo)
	ON UPDATE CASCADE;
GO


ALTER TABLE EMPREGADO  
ADD  CONSTRAINT FK_EMPREGADO_PROVINCIA_cod_provincia_enderezo
	FOREIGN KEY(cod_provincia_enderezo)
	REFERENCES PROVINCIA (codigo)
	ON UPDATE CASCADE;
GO


ALTER TABLE PROFESORADO  
ADD  CONSTRAINT FK_PROFESORADO_EMPREGADO_num_prof 
	FOREIGN KEY(num_prof)
	REFERENCES EMPREGADO (numero);
GO

ALTER TABLE ADMINISTRATIVO 
ADD  CONSTRAINT FK_ADMINISTRATIVO_EMPREGADO_num_adm
	FOREIGN KEY(num_adm)
	REFERENCES EMPREGADO (numero);
GO

ALTER TABLE ACTIVIDADE  
ADD  CONSTRAINT FK_ACTIVIDADE_AULA_num_aula
	FOREIGN KEY(num_aula)
	REFERENCES AULA (numero);
GO

ALTER TABLE ACTIVIDADE  
ADD  CONSTRAINT FK_ACTIVIDADE_PROFESORADO_num_profesorado_imparte
	FOREIGN KEY(num_profesorado_imparte)
	REFERENCES PROFESORADO (num_prof)
	ON UPDATE CASCADE;
GO

ALTER TABLE SOCIO_REALIZA_ACTI 
ADD  CONSTRAINT FK_SOCIO_REALIZA_ACTI_ACTIVIDADE_id_actividade
	FOREIGN KEY(id_actividade)
	REFERENCES ACTIVIDADE (identificador)
	ON UPDATE CASCADE;
GO

ALTER TABLE SOCIO_REALIZA_ACTI  
ADD  CONSTRAINT FK_SOCIO_REALIZA_ACTI_SOCIO_num_socio
	FOREIGN KEY(num_socio)
	REFERENCES SOCIO (numero)
	ON UPDATE CASCADE;
GO

ALTER TABLE PROFE_CURSA_ACTI 
ADD  CONSTRAINT FK_PROFE_CURSA_ACTI_ACTIVIDADE_id_actividade
	FOREIGN KEY(id_actividade)
	REFERENCES ACTIVIDADE (identificador);
GO

ALTER TABLE PROFE_CURSA_ACTI  
ADD  CONSTRAINT FK_PROFE_CURSA_ACTI_PROFESORADO_num_profesorado 
	FOREIGN KEY(num_profesorado)
	REFERENCES PROFESORADO (num_prof);
GO
